*{
  box-sizing: border-box;
}

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #1B43C9;
color: #291000;
  }
  img {
      width: 100%;
  }
nav {
    margin: 0;
    padding: 0;
    background-color: #05F283;
    position: fixed;
    top: 0;
    width: 100%;
    }
nav a {
  color: #291000;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  border-bottom: 1px solid #291000;
}

nav a:hover {
  backgroung-color: #1B43C9;
}

  .okvir div {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  .cirkle {
          width: 200px;
          height: 200px;
          background: lightgray;
          border-radius: 50%;
          border: 2px;
      }

form {
  margin-top: 200px;
  background-color: purple;
  border: 2px solid black;
  color: #fff;
  width: 87%;
}
